.CodeMirror { 
    border: 1px solid #eee;
    height: 100%;
}

.foundation-layout-panel-content > div {
    height:100%;
}
 .split, .split-container {
     height: 100%;
 }

.split-container {
 display: flex
}

.split-container.vertical {
  flex-direction: column;
}

.gutter {
    border-right: 0.0625rem solid #E1E1E1;
    cursor: col-resize;
}

.gutter-vertical {
  border-right: 0;
  border-top: 0.0625rem solid #E1E1E1;
  border-bottom: 0.0625rem solid #E1E1E1;
  cursor: row-resize;
}

coral-panelstack[maximized] > coral-panel > coral-panel-content {
  overflow: visible !important;
}


#dialog .coral3-Dialog {
    overflow: visible !important;
    display: block !important;
    opacity: 1 !important;
    position: relative !important;
    outline: none !important;
    max-width: 590px;
    margin: 0 auto !important;
}

#dialog .coral3-Dialog-wrapper {
    margin: 0 !important;
    position: relative !important;
    min-width: 0 !important;
    width: auto !important;
    left: 0 !important;
    top: 0 !important;
    margin: 0 auto !important;
    margin: 0 !important;
    max-width: 100% !important;
}

#dialog .coral3-Dialog.granite-pickerdialog {
  max-width: 80vw;
  top: 10vh;
}

.current-dialog-path {
  margin: 0.5em;
  font-weight: bolder;
}

#dialog-explorer-dialog .coral3-ButtonList-item {
  width: 100% !important;
}
#dialog-explorer-dialog coral-dialog-content {
  max-height: 80vh;
  overflow-y: scroll;
}

#split-direction.horizontal {
  transform: rotate(90deg);
}
