<div id="dialog-editor" class="split-container" data-dialog-path="${request.requestPathInfo.suffix}">
  <div id="split-editor" class="split">
    <textarea id="code" name="code">test</textarea>
  </div>
  <div id="split-result" class="split">
    <div id="dialog"></div>
  </div>
</div>

  <!--
  <p>Press <strong>ctrl-space</strong>, or type a '&lt;' character to
    activate autocompletion. This demo defines a simple schema that
    guides completion. The schema can be customized—see
    the <a href="../doc/manual.html#addon_xml-hint">manual</a>.</p>

  <p>Development of the <code>xml-hint</code> addon was kindly
    sponsored
    by <a href="http://www.xperiment.mobi">www.xperiment.mobi</a>.</p>
  -->
